header {
  display: block;
  width: 100%;
  color: white;
  background-color: black;
  position: relative;
  height: 100px;
}

.logo {
  position: absolute;
  top: 35%; left: 50px;
  font-size: 2em;
  color: gold;
}

nav, nav ul, nav ul li {
  margin: 0;
  padding: 0;
}

nav {
  position:absolute;
  top: 50%; right: 15px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 17px;
}

nav ul li.last {
  margin:0;
}

nav ul li a {
  line-height: normal;
  font-size: 19px;
  color: white;
}

nav ul li a:hover {
  color: red;
  text-decoration: none;
}
